.Documentation-Header{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;

}

.Documentation-Header-Logo{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Documentation-Svg-Logo{
    width: 100%;
    height: 80%;
}

.Documentation-side-menu{
    height: 100%;
    width: 20%;
    background-color: rgb(32, 32, 36);
}

.Documentation-main-flex{
    height: 800px;
    width: 100%;
    background-color: black;
}