.MainFlex {
    margin-top: 150px;
    background-size: cover;
    background-position: center;
    width: 90%;
    border-radius: 15px;
    z-index: 1;
    min-width: 400px;
    min-height: 400px;
    flex-wrap:wrap;
}

.Main-welcomeContainer{
    min-width: 200px;
    width: 40%;
}

.main-svgLink{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height: 100%;
    width: 50%;
}

.main-svgSpan{
    height: 100%;
    width: 50%;
}

.main-Canvas{
    position:absolute;
    position: top;
    z-index: 0;
    transform:translate(-44px,-560px);
    animation: rotateCanvas 5s linear infinite;
    -o-animation: rotateCanvas 5s linear infinite;
}

@keyframes rotateCanvas {
    from{
        transform:translate(-50px,-500px);
    }
    to{
        transform:translate(-50px,-660px);
    }
    from{
        -o-transform:translate(-44px,-460px);
    }
    to{
        -o-transform:translate(-44px,-660px);
    }
}

/* .main-Canvas-ForeGround-right{
    position:absolute;
    position: top;
    z-index: 3;
    animation: rotateCanvasForeGround 5s linear infinite;
    -o-animation: rotateCanvasForeGround  5s linear infinite;
    background: #000;
} */


.Main-side-bar{
    /* display:block; */
    position:fixed;
    display: absolute;
    left: 0;
    top: 10%;
    margin-top: 5%;
    background-color: rgb(37, 37, 37);
    width: 50px;
    height: 50%;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 10;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.719);
}

.Main-Links-Container{
    width: 50%;
    height: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.Main-Links{
    width: 80px;
}

.polygon-svg{
    z-index: 12;
    width: 40px;
    height: 50px;
    fill: #fff;
    stroke: #f2f2f2;
    stroke-miterlimit: 10;
    stroke-width: 8px;
}

h1{
    font-size: 2.9vw;
    font-family: monospace;
    font-weight: 600;
}

p{
    font-size: 2vh;
    font-weight: 500;
    text-align: center;
}

h2 {
    font-size: 2vw;
    font-family: monospace;
    font-weight: 600;
    text-align: center;
}

.text-accent{
    color: rgb(255, 166, 0);
}

.bg-accent{
    background-color: rgb(255, 166, 0);
}

.text-border-outline{
    border-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-width: 3px;
    border-color:rgb(255, 166, 0);
}
