.SectionOneMain{
    background-color: white;
    height: 50px;
    z-index: 1;
    box-shadow: 0px 0px 100px 40px rgb(0, 0, 0);
}

.SectionOneLeft{
    background-color: white;
}

.SectionOne-cardsMain{
    background-color: white;
    z-index: 1;
}
.SectionOne-Cards{
    /* background-color: rgb(51, 51, 51); */
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items:center;
    border-radius: 15px;
    padding: 3%;
    /* box-shadow: inset 0px 0px 100px 10px rgba(0, 0, 0, 0.719); */
}

.SectionOne-Card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 3%;
    width: 40%;
    height: 500px;
    background-color: rgb(54, 54, 54);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.719);
    background-size: 500px 500px;
    background-position: center;
    border-radius: 15px;
    padding: 3%;
}

.redfoxinu-img{
    width: 100%;
    height: 300px;
}

.Live-Preview-button{
    width: 80%;
}

.SectionOne-Card-Summary{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 3%;
    width: 40%;
    height: 100px;
    background-color: rgb(54, 54, 54);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.719);
    background-size: 500px 500px;
    background-position: center;
    border-radius: 15px;
    padding: 3%;
}
.SectionOne-Card-Svg{
    width: 40%;
    height: 40%;
    text-align: center;
}